<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="post">
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 100px;">번호</th>
            <th>제목</th>
            <th style="text-align: right;"><a id="new_post" href="/post/new">작성</a></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${pageInfo.empty}">
            <td colspan="3" style="text-align: center;">데이터가 없습니다.</td>
        </tr>
        <tr th:if="${!pageInfo.empty}" th:each="post : ${pageInfo.content}">
            <td style="text-align: center; "><span th:text="${post.id}"/></td>
            <td colspan="2">
                <a style="display: inline-block; width: 100%;"
                   th:text="${post.title}" th:href="@{/post/{id}(id=${post.id})}"></a>
                <div style="display: inline-block; padding-top: 4px;">
                    <th:block th:each="postTag : ${post.postTags}">
                        <span class="new-tag" th:text="${postTag.tag.content}"
                              th:onclick="|location.href='@{/post/tag/{id}(id=${postTag.tag.id})}'|"></span>
                    </th:block>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="btnDiv">
        <th:block>
            <a class="paging" th:if="${paging.back != 0}" th:href="@{/post?page={page}(page=${paging.back})}"
               th:text="'<'"></a>
            <th:block th:each="pre: ${paging.previous}">
                <a class="paging page-number" th:href="@{/post?page={page}(page=${pre})}" th:text="${pre}"></a>
            </th:block>
            <a class="present paging" th:if="${paging.present != 0}"
               th:href="@{/post?page={page}(page=${paging.present})}" th:text="${paging.present}"></a>
            <th:block th:each="aft: ${paging.after}">
                <a class="paging page-number" th:href="@{/post?page={page}(page=${aft})}" th:text="${aft}"></a>
            </th:block>
            <a class="paging" th:if="${paging.forward != 0}" th:href="@{/post?page={page}(page=${paging.forward})}"
               th:text="'>'"></a>
        </th:block>
    </div>
    <script>
        $(".page-number")
            .mouseenter(function () {
                $(this).stop().animate({
                    fontSize: "30px"    // CSS fontSize 속성값을 "25px"로 설정함.
                }, 200, "linear")		// 시간당 속도 함수를 "linear"으로 설정함.
                    .css("color", "#139dc8");

            })
            .mouseleave(function () {
                $(this).stop().animate({
                    fontSize: "25px"	// CSS width 속성값을 "20px"로 설정함.
                }, 200, "swing")		// 시간당 속도 함수를 "swing"으로 설정함.
            .css("color", "gray");
            });
    </script>
</div>
</html>