<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>viewPost</title>
</head>
<body>
<div id="post_wrapper" th:fragment="post_wrapper">
    <script>
        async function deletePost(id) {
            if (confirm("삭제하시겠습니까?")) {
                try {
                    let response = await fetch("/api/post/" + id, {
                        method: 'DELETE',
                    });
                } catch (e) {
                    console.error('삭제 실패 : ', e)
                }

                location.href = "/post/list";
            }
        }

    </script>
        <p th:text="${post.title}"
              style="width: 100%; font-size: 48px; margin: 10px 0 10px 0;"></p>
    <div style="float: right;">
        <a style="color: #67adc3; padding-right: 5px;"
           th:onclick="|location.href='@{/post/{id}/edit(id=${post.id})}'|">수정
        </a>
        <a style="color: #db9494;"
           th:onclick="deletePost([[${post.id}]])">삭제
        </a>
    </div>
    <div style="display: inline-block; padding-top: 4px;">
        <th:block th:each="postTag : ${post.postTags}">
            <span class="new-tag" th:text="${postTag.tag.content}"
                  th:onclick="|location.href='@{/post/tag/{id}(id=${postTag.tag.id})}'|"></span>
        </th:block>
    </div>
    <hr>
    <div>
        <div id="content" th:utext="${post.content}">
        </div>
    </div>

    <div class="btnDiv">
        <button th:if="${post.nextId != null}" class="btns white change-post" th:onclick="|location.href='@{{url}/{id}(url=${url}, id=${post.nextId})}'|">◀︎ 이전 글 보기</button>
        <button th:if="${post.prevId != null}" class="btns white change-post" th:onclick="|location.href='@{{url}/{id}(url=${url}, id=${post.prevId})}'|">다음 글 보기▶</button>
    </div>
</div>
</body>
</html>