<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">BlogHeadTitle</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <style>
        .inline-block {
            display: inline-block
        }
        .li-inline {
            display: inline-block;
        }
        .nav_td {
            padding: 10px 50px 10px 50px;
            font-size: 25px;
        }
    </style>
</head>
<body>
</body>
</html>