<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="nav" style="display: inline-block; border-bottom: 2px solid black; width: -webkit-fill-available;">
    <style>
        .nav_a {
            text-decoration: none; color: black;
        }
        .nav_a:hover {
            text-decoration: none; color: gray;
        }
    </style>
    <table>
        <tr style="font-size: 25px; padding: 0 50px 0 50px;">
            <td class="nav_td" style="font-size: 15px; display: flex;">
                <label for="search"></label><input type="text" id="search" placeholder="태그 검색">
                <button style="border:0; background-color: white;" type="button">
                    <img src="/image/search.png" alt=""style="width: 30px; height: 30px;">
                </button>
            </td>
            <td class="nav_td"><a class="nav_a" ><b>About Me</b></a></td>
            <td class="nav_td"><a class="nav_a" href="/portfolio"><b>Portfolio</b></a></td>
            <td class="nav_td"><a class="nav_a" href="/post"><b>Post</b></a></td>
        </tr>
    </table>
</nav>
</body>
</html>